/*FONTS*/
@import url('https://fonts.googleapis.com/css2?family=Changa+One:ital@0;1&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Pacifico&family=Rubik+Wet+Paint&family=Sixtyfour+Convergence&display=swap');



/*STYLE*/
body {
  padding: 0;
/*  background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
  background-image: linear-gradient(to top, #7028e4 100%, #e5b2ca 0%);
  background-image: linear-gradient(to top, #505285 0%, #585e92 12%, #65689f 25%, #7474b0 37%, #7e7ebb 50%, #8389c7 62%, #9795d4 75%, #a2a1dc 87%, #b5aee4 100%);
  background: linear-gradient(-180deg, #BCC5CE 0%, #929EAD 98%), radial-gradient(at top left, rgba(255,255,255,0.30) 0%, rgba(0,0,0,0.30) 100%);
 background-blend-mode: screen;
*/
background-image: linear-gradient(to top, #09203f 0%, #537895 100%);

}

* {
  font-family: 'Open Sans', "Montserrat";
  line-height: 23px;
  color: #fff;
}

.App {
  text-align: center;
  min-height: 95vh;
  width: 85%;
  margin: auto;
  margin-top: 5vh;
  margin-bottom: 5vh;
 /* background-image: url('./imagenes/body_bg.png');*/
  
  padding: 3px 0px;
  border-radius: 4px;
  
}

.App-header {
  background-image: url('./imagenes/body_bg.png');
  height: auto;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
  border-radius: 5px;
  
}

.head {
  display: flex;
  margin: 0;
}

.sub-titulo {

}

.containerLogo {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  padding: 10px;
  display: flex;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  background-color: #1a5e58;
  border: 1px solid #308079;
}

.Logo-header {
  height: 100px;
}

.header-titulo {
  margin-left: 20px;
  font-family: "Rubik Wet Paint" !important;
  font-size: 50px;
  color: rgb(255, 230, 5);
  text-shadow: 2px 2px 1px #111;
}

main {
  padding: 10px;
  
}

main .presentacion {
  padding: 15px;
}

main .presentacion .text {
  text-align: left;
}

.negrita {
  font-weight: bold
}

.art {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

main .art-1 {
  height: 400px;
  display: flex;
  container: center;
  align-items: center;
  
}

.art-1-img{
 height: 100%;
 max-height: 100%;
 max-width: 100%;

}


.servicios {
  text-align: left;
}


.tools {
  min-height: 200px;
  border-radius: 4px;
  margin-top: 50px;
  background-color: #111111ad;
  box-shadow: 2px 5px 5px #3f3f3fee;
  padding-top: 10px;
}

.tools .tools-titulo {
  font-weight: 800;
}

.tools .container-articulos {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.tools .container-articulos .tools-art {
  margin: 15px 5px;
  border-radius: 4px;
  min-height: 400px;
  width: 400px;
  display: flex;
  flex-direction: column;
  padding: 5px 18px;
  padding-top: 10px;
}

.tools .container-articulos .tools-art:hover {

}

.tools-art .tools-art-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.tools-art .tools-art-header .tools-art-logo {
  height: 60px;
}
.tools-art .tools-art-header .tools-art-titulo {
  font-weight: 600;
  margin: 3px 0px;
}

.tools-art .tools-art-desc {
  border-top: 1px solid rgba(190, 190, 190, 0.425);
  margin-top: 8px;
  text-align: left;
  font-size: 15px;
}

